body {
    font-family: "Montserrat", sans-serif;
}
ul {
    list-style: none;
}
a {
   text-decoration: none; 
}
.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: black;
}
.header-logo-cursive {
font-style: italic;
}
.header-logo-img {
    width: 16
    px;
    height: 24px;
    viewbox: 0 0 24 24;
    fill: none;
}
.header-menu-list {
    font-weight: 500;
        font-size: 14px;
        line-height: 16px; 
        line-height: 1.14;
        letter-spacing: -0.02em;
        color: black;
}